<div class="main">
  
  <div class="main-inner">

      <div class="container">
  
        <div class="row">
          
          <div class="span8">         
            
            <div class="widget ">
              
              <div class="widget-header">
                <i class="icon-user"></i>
                <h3>Your Account</h3>
            </div> <!-- /widget-header -->
          
          <div class="widget-content">
            
            
            
        
                <form id="edit-profile" class="form-horizontal">
                  <fieldset>
                    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                      <%= devise_error_messages! %>

                      <div><%= f.label :email %><br />
                      <%= f.email_field :email %></div>

                      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                      <%= f.password_field :password, :autocomplete => "off" %></div>

                      <div><%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation %></div>

                      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                      <%= f.password_field :current_password %></div>

                      <div><%= f.submit "Update", :class => "btn btn-warning" %></div>
                    <% end %>

                    <h3>Cancel my account</h3>

                    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

                    <%= link_to "Back", :back %>
                    
   
                  </fieldset>
                </form>

            
            
            
            
            
          </div> <!-- /widget-content -->
            
        </div> <!-- /widget -->
            
        </div> <!-- /span8 -->
          
          
          <div class="span4">
        
        
        <div class="widget widget-box">
          
          <div class="widget-header">
                <h3>We want your feedback!</h3>
            </div> <!-- /widget-header -->
          
          <div class="widget-content">
            
              
            <p>We are just like you - trying to travel the globe intellegently.  We made this from scratch.  Right out of Startup Weekend for travelers world wide. </p>
            
          
            
          </div> <!-- /widget-content -->
          
        </div> <!-- /widget-box -->
                  
          </div> <!-- /span4 -->
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
      
  </div> <!-- /main-inner -->
    
</div> <!-- /main -->
